   <%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= todayDay %> </h1>
    </div>

    <div class="box">
        <% for(var i = 0; i<newItem.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newItem[i] %> </p>
        </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="nextItem" placeholder="New item" autocomplete="off" required autofocus>
            <button type="submit" name="list" value= <%= todayDay %> >+</button>
        </form>

    </div>

    <%- include("footer") -%>
